<!DOCTYPE html>
<html>
<head>
	<title>Basic html</title>
	<link rel="icon"  href="/img/weather.png">
	<link rel="stylesheet" type="text/css" href="./css/style.css">
	
<body>

    <div  class="main-content">
    	{{>header}}

    	<form>
    		<input type="text" name="" placeholder="location">
    		<button>Search</button>
    	</form>

    	<p id="message-1"></p>
    	<p id="message-2"></p>
    </div>
	


	 {{>footer}}

<script type="text/javascript" src = './js/app.js'></script>
</head>
</body>
</html>